repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude_types: [markdown]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-imports-repo
        args:
          - "-local"
          - "maunium.net/go/mautrix-whatsapp"
          - "-w"
      - id: go-vet-repo-mod
      - id: go-staticcheck-repo-mod
      - id: go-mod-tidy

  - repo: https://github.com/beeper/pre-commit-go
    rev: v0.3.1
    hooks:
      - id: zerolog-ban-msgf
      - id: zerolog-use-stringer
